* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url(img/paper_background.png);
  background-color: beige;
}

/* icon */
.icon {
  justify-content: center;
  display: flex;
}

/* newspaper section */
.newspaper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.book {
  position: relative;
  width: 500px;
  height: 600px;
  /* adjust the book size here */
  transition: transform 0.5s;
  
}

.paper {
  position: absolute;
  /* used position:absolute bc i wanted the papers to overlap on top of each other */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* page flipping part */
  perspective: 1500px;
  /* The perspective CSS property determines the distance between the z=0 plane and the user in order to give a 3D-positioned element some perspective. */
}

.front,
.back {
  background-color: beige;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* page flipping part */
  transform-origin: left;
  transition: transform 0.9s;
}

.front {
  backface-visibility: hidden;
  /* for the front-content to not show when flipped */
  z-index: 1;
  /* z-index so that the front page stays on top of the back page */

  /* border-left: 2px solid black; */
}

.back {
  z-index: 0;
  /* border-left: 2px solid black; */
}

/* all pages */
.front-content {
  display: table-row;
  border: 1px solid black;
}

.front-content h3, .back-content h3 {
  padding: 0 2% 0 2%;
  font-size: 17px;
  text-align: center;
}

.back-content{
  transform: rotateY(180deg);
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

/* paper flipping efx*/
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* page 1/cover page */
#main_title1{
  padding-top: 3%;
  font-size: 19px;
}

#subtitle1{
  margin-top: 20%;
}

/* myanmar flag one */
#cover_img1{
  border-radius: 10%;
  transition: 0.7s;
}

#cover_img1:hover{
  border-radius: 0;
  transition: 2s;
}

/* page 2 */
.btn_link{
  width: 100%;
  text-align: right;
  transition: 0.2s;
}

.btn_link:hover{
  opacity: 70%;
  transition: 0.5s;
}

.cover_img1{
  padding: 25% 0 0 13%;
}

/* the miserable children one */
#cover_img2{
  width: 450px;
  height: 270px;
  padding: 3% 0 3% 10%;
}

#btn_link1{
  text-decoration: none;
  color: black;
}

/* page 3 */



/* button mods */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover img {
  background-color: rgb(177, 177, 177);
  border-radius: 50%;
  transition: 0.7s;
}

button img {
  transition: 0.5s;
  border-radius: 40%;
}

img {
  color: black;
}

/* page order */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

.box_2 {
  display: flex;
  justify-content: flex-start;
}

.section_1 {
  width: 100%;
  height: 30vh;
  margin-top: 1%;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

.section_1 p {
  font-size: 30px;
  padding-top: 6%;
  text-align: center;
}

/* footer */
footer {
  height: auto;
  width: 100%;
  margin-top: 4%;
}

.footer-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content p {
  padding: 10px;
  font-size: 20px;
}

.links {
  padding: 0.5%;
  list-style: none;
  border-radius: 50%;
  transition: 0.5s;
}

.links:hover {
  background-color: white;
  opacity: 60%;
  border-radius: 45%;
  transition: 0.5s;
}

.footer-bottom p {
  font-size: 17px;
  color: gray;
}